
<div>
<h1><%= @friend.first_name%> <%= @friend.last_name %> </h1>

<p>
  <%= @friend.email %> <br/>
  <%= @friend.phone %> <br/>
  <%= @friend.linkedin %>
  <%= @friend.address %>
</p>
<div>



<%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-dark" %> 
<%= link_to 'Back', friends_path, class:"btn btn-dark" %>
